<%- include('layouts/header'); -%>
    <%- include('layouts/nav'); -%>
        <header>
            <h1>Net Ninja OAuth Tut's</h1>
            <h2>Homepage</h2>
        </header>
        
<%- include('layouts/footer'); -%>